apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dorashop
resources:
- ../../base

namePrefix: prod-

replicas:
- count: 3
  name: dorashop-web

images:
- name: dorashop-web
  newName: 540649423715.dkr.ecr.ap-southeast-1.amazonaws.com/my-web-app
  newTag: e285e4128e3656960dec5aebec7760f837eea368

commonLabels:
  environment: production

configMapGenerator:
- literals:
  - ENVIRONMENT=production
  - DEBUG=false
  name: app-config

# Production-specific resource limits
patches:
- path: patches/resources.yaml
- path: patches/db-host.yaml
