apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

namePrefix: prod-

replicas:
  - name: dorashop-web
    count: 3

images:
  - name: dorashop-web
    newName: 540649423715.dkr.ecr.ap-southeast-1.amazonaws.com/my-web-app
    newTag: latest

commonLabels:
  environment: production

configMapGenerator:
  - name: app-config
    literals:
      - ENVIRONMENT=production
      - DEBUG=false

# Production-specific resource limits
patchesStrategicMerge:
  - patches/resources.yaml
