apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

namePrefix: staging-

replicas:
  - name: dorashop-web
    count: 2

images:
  - name: dorashop-web
    newName: 540649423715.dkr.ecr.ap-southeast-1.amazonaws.com/my-web-app
    newTag: latest

commonLabels:
  environment: staging

configMapGenerator:
  - name: app-config
    literals:
      - ENVIRONMENT=staging
      - DEBUG=false
