apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dorashop

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - postgres.yaml
  - storage-class.yaml

images:
  - name: dorashop-web
    newName: 540649423715.dkr.ecr.ap-southeast-1.amazonaws.com/my-web-app
    newTag: latest

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/part-of: dorashop
