apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dorashop-dev
resources:
  - ../../base

namePrefix: dev-

replicas:
  - name: dorashop-web
    count: 1

images:
  - name: dorashop-web
    newName: 540649423715.dkr.ecr.ap-southeast-1.amazonaws.com/my-web-app
    newTag: latest

commonLabels:
  environment: development

configMapGenerator:
  - name: app-config
    literals:
      - ENVIRONMENT=development
      - DEBUG=true
