name: Stable CI/CD Pipeline

on:
  push:
    branches: 
      - main
      - develop
      - 'ci/setup-devsecops-pipeline'
  workflow_dispatch:

env:
  AWS_REGION: ap-southeast-1
  ECR_REPOSITORY: my-web-app

jobs:
  build-deploy:
    name: Build - Push - Update GitOps
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          # token: ${{ secrets.PAT_TOKEN }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker Image
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG \
                       -t $ECR_REGISTRY/$ECR_REPOSITORY:latest \
                       -f web/dorashop/Dockerfile web/dorashop/
          
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
          
          echo "image_uri=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Update Kubernetes Manifest
        env:
          NEW_IMAGE: ${{ steps.build-image.outputs.image_uri }}
          MANIFEST_FILE: ci-cd/k8s/deployment.yaml
        run: |
          echo "Updating deployment to use image: $NEW_IMAGE"
          
          git config --global user.email "ci-cd-bot@users.noreply.github.com"
          git config --global user.name "CI/CD Bot"
          
          sed -i "s|image: .*$ECR_REPOSITORY.*|image: $NEW_IMAGE|g" $MANIFEST_FILE
          
          git diff $MANIFEST_FILE
          
          git add $MANIFEST_FILE
          git diff --staged --quiet || git commit -m "chore(release): update image tag to ${{ github.sha }} [skip ci]"
          git push origin HEAD:ci/setup-devsecops-pipeline